<section class="footer-links">
    <div class="container text-center text-md-start mt-5 pt-3">
      <div class="row mt-3">
        <div class="col-xs-3 col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Hey Dev!</h6>
          <p id="hey-dev-footer">Hey Dev! is a portal for junior developers to meet, share projects and collaborate.</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4"></div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 useful-links">
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p><a href="/about" class="text-reset">About</a></p>
          <p><a href="/projects" class="text-reset">Projects</a></p>
          <p><a href="/users" class="text-reset">Community</a></p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" id="contact-footer-div">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p>sofia@gmail.com</p>
          <p> +34 656 656 656 </p>
          <p>agutrui@hotmail.com</p>
          <p>+34 638 077 194</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4 footer-copyright">
    2023 Hey Dev!©
  </div>