<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <div class="order-md-2">
      {{#isLoggedIn currentUser}}
      <li class="nav-item dropdown">
        <img class="nav-link dropdown-toggle rounded-circle" width="50" src="{{../currentUser.avatar}}" role="button"
          data-bs-toggle="dropdown" aria-expanded="false" alt="{{../currentUser.alias}}">
        <ul class="dropdown-menu dropdown-menu-lg-end dropdown-menu-md-start">
          <li><a class="dropdown-item" href="/users/{{../currentUser.id}}">My profile</a></li>
          <li><a class="dropdown-item" href="/projects/new">New project</a></li>
          <li>
            <form action="/logout" method="POST"><button class="dropdown-item" type="submit">Log out</button></form>
          </li>
        </ul>
      </li>
      {{else}}
      <a class="btn main-button me-2" href="/signup">Sign up</a>
      <a class="btn second-button me-2" href="/login">Log in</a>
      {{/isLoggedIn}}
    </div>
    <div class="order-md-0">
      <a class="navbar-brand" href="/"><img src="https://res.cloudinary.com/donpoeiov/image/upload/v1677525227/heydev-logo-2_hfsa3r.png" alt="Bootstrap" width="150"></a>
    </div>
    <div class="order-md-1">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link navbar-effect" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-effect" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-effect" href="/users">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-effect" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>