<div class="d-flex align-items-center justify-content-center vh-100 error-page">
  <div class="text-center error-group"> 
    <h1 class="display-1 fw-bold">404</h1>
    <p class="fs-3"> <span class="error-text">Opps!</span> Page not found.</p>
    <p class="lead">
      The page you’re looking for doesn’t exist.
    </p>
    <a href="/" class="btn second-button">Go Home</a>
  </div>
</div>