<div class="container mt-5">
  <h1>About HeyDev!</h1>
  <div class="row">
    <div class="col-sm-12 col-md-9 pt-md-4">
      <p>If you are a junior developer looking to improve your skills, consider signing up for HeyDev, a project management platform designed specifically for junior developers. HeyDev! can help you to collaborate with other developers and add valuable projects to your portfolio.</p>
      <p>By taking advantage of HeyDev's tools and resources, you can improve your skills, collaborate more effectively with your peers and improve your employability in the tech industry.</p>
    </div>
    <div class="col-sm-12 col-md-3">
      <img class="w-100" src="/images/hey-dev-about-project.png" alt="HeyDev!">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-3">
      <img class="w-100" src="/images/hey-dev-project-description.png" alt="HeyDev!">
    </div>
    <div class="col-sm-12 col-md-9 pt-md-4">
      <h3>About the project</h3>
      <p>If you are a junior developer looking to improve your skills, consider signing up for HeyDev, a project management platform designed specifically for junior developers. HeyDev! can help you to collaborate with other developers and add valuable projects to your portfolio.</p>
      <p>By taking advantage of HeyDev's tools and resources, you can improve your skills, collaborate more effectively with your peers and improve your employability in the tech industry.</p>
    </div>
  </div>


</div>