<div class="container mt-5">
  <h1>About HeyDev!</h1>
  <div class="row">
    <div class="col-sm-12 col-md-9 pt-md-4">
      <p>If you are a <strong>junior developer</strong> looking to improve your skills, consider signing up for HeyDev, a <strong>project management platform</strong> designed specifically for junior developers. HeyDev! can help you to <strong>collaborate with other developers</strong> and add valuable projects to your portfolio.</p>
      <p>By taking advantage of HeyDev!'s tools and resources, you can <strong>improve your skills</strong>, collaborate more effectively with your peers and improve your employability in the tech industry.</p>
    </div>
    <div class="col-sm-12 col-md-3">
      <img class="w-100" src="/images/hey-dev-about-project.png" alt="HeyDev!">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-3">
      <img class="w-100" src="/images/hey-dev-project-description.png" alt="HeyDev!">
    </div>
    <div class="col-sm-12 col-md-9 pt-md-4">
      <h3>About the project</h3>
      <p>HeyDev! was developed as the final project of the second module for the <strong>Ironhack Web Development bootcamp</strong>. The objective was to get into the back-end and understand the <strong>model, view, controller architecture</strong>. For this, we have used some technologies like <strong>Nodejs</strong> and <strong>Handlebars</strong>.</p>
      <p>Ironhack is a globally recognized tech school that holds the second place worldwide ranking. The school is committed to enabling individuals to <strong>transform their careers</strong> and become a part of a thriving community of tech professionals who are passionate about their work. </p>
      <a href="https://www.ironhack.com/es/en" target="_blank" class="black-color"><strong>More info about Ironhack</strong></a>
    </div>
  </div>

  <div class="row text-center pt-5 mt-5">
    <h1>Team</h1>
    <div class="col-sm-12 col-md-6">
      <img class="w-25 rounded-circle mb-4 mt-sm-5" src="/images/profile-ana.png" alt="Ana Gutiérrez Ruiz">
      <h3>Ana Gutiérrez</h3>
      <p>Junior Web Developer & Translator</p>
      <a href="https://github.com/AnaGutierrezRuiz" class="btn main-button" target="_blank"><i class="fa-brands fa-github pe-2"></i>GitHub</a>
      <a href="https://www.linkedin.com/in/ana-gutierrezruiz/" class="btn main-button" target="_blank"><i class="fa-brands fa-linkedin-in pe-2"></i>LinkedIn</a>
    </div>
    <div class="col-sm-12 col-md-6">
      <img class="w-25 rounded-circle mb-4 mt-sm-5" src="/images/profile-sofia.png" alt="Sofía Jiménez González">
      <h3>Sofía Jiménez</h3>
      <p>Junior Web Developer & Digital Marketing Specialist</p>
      <a href="https://github.com/sofiajimglez" class="btn main-button" target="_blank"><i class="fa-brands fa-github pe-2"></i>GitHub</a>
      <a href="https://www.linkedin.com/in/sofiajimglez/" class="btn main-button" target="_blank"><i class="fa-brands fa-linkedin-in pe-2"></i>LinkedIn</a>
    </div>
  </div>
</div>