@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300;400;700&family=Changa:wght@300;400;700&family=Knewave&family=Roboto:wght@300;400;700&display=swap");
/*
font-family: 'Anek Tamil', sans-serif;
font-family: 'Changa', sans-serif;
font-family: 'Knewave', cursive;
font-family: 'Roboto', sans-serif;
*/

* {
  font-family: 'Roboto', sans-serif;
}

/* body {
  margin: auto 20px;
} */

/* TITLES */
h1 {
  font-family: 'Anek Tamil', sans-serif;
  font-weight: bolder;
  color:#a970ff;
}

/* SUBTITLES */
h2, h3, h4 {
  font-family: 'Changa';
  color:#51c0c4;
  font-weight: bold;
}

li {
  list-style: none;
}

.black-color {
  color: black;
}


/* NAVBAR */
.navbar {
  width: 100%;
}

.main-button {
  background-color: #a970ff;
  color: white;
  margin: 2px;
}

.main-button:hover {
  color: #a970ff;
  border: 2px solid #a970ff;
}

.second-button {
  background-color: #51c0c4;
  color: white;
  margin: 2px
}

.second-button:hover {
  color: #51c0c4;
  border: 2px solid #51c0c4;
}

.navbar-effect {
  font-size: 18px;
  margin-right: 20px;
  box-shadow: inset 0 0 0 0 #a970ff;
  color: black;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 10px;
}

@media only screen and (max-width: 990px) {
  .nav-item {
    text-align: center;
  }

  .navbar-effect:hover {
    background-color: #a970ff;
    color: white;
  } 
}

@media only screen and (min-width: 990px) {
  .navbar-effect:hover {
    box-shadow: inset 150px 0 0 0 #a970ff;
    color: white;
  }
}

/* FOOTER */

footer {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  height: 2.5rem;
}

.footer-links {
  color: white;
  background-color:#9de2e4;
}

.footer-links a {
  text-decoration: none;
}

.footer-copyright {
	background-color: #7e53bf;
	color: white;
}


/* HOME */

.home-search {
  margin: auto 20%;
  text-align: center;
  padding: 6em 0;
}

.description-input {
  margin-right: 10px;
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
}

.fa-lightbulb {
  color:#51c0c4;
  font-size: 1.3em;
}

.home-header {
  background-image: url('../images/hev-dev-home-image4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
} 

.header-group {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  border-radius: 10px;
}

.header-group h1 {
  color: black;
}

.header-group img {
  width: 10%;
}

.home-button-line {
  border: 2px solid #a970ff;
  color: #a970ff;
  padding: 15px 10px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
}

.home-button-line:hover {
  background-color: #a970ff;
  color:white;
}

.home-button-main {
  background-color: #a970ff;
  color:white;
  border: 2px solid #a970ff;
  padding: 15px 10px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
}

.home-button-main:hover {
  color: white;
  background-color: #51c0c4;
  border: 2px solid #51c0c4;
}

@media only screen and (max-width: 990px) {
  .filters {
    display: block;
  }

  .filters input {
    width: 100% !important;
    margin-bottom: 10px !important;
    display: block;
  }

  .filters span {
    display: none;
  }

  .filters > li {
    display: block;
    margin-bottom: 10px;
  }

  .filters button {
    width: 100%;
  }
}

.home-button {
  background-color: #a970ff;
  color: white;
  padding: 15px 10px;
  margin-right: 10px;
}

.home-button:hover {
  background-color: #51c0c4;
  color:white;
}

.search-button {
  background-color: #7e53bf;
}

.latest-projects {
  background-color: #EFEFEF;
}

.home-project {
  background-color: white;
  border-radius: 8px;
}

.home-project img {
  border-radius: 8px;
  margin: 10px auto;
}

/* SEARCH, SIGNUP AND LOGIN FORMS*/

.signup-form form {
	border-radius: 3px;
	margin-bottom: 15px;
	background-color: #ddcbf8;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
input[type='range']::-webkit-slider-thumb {
  background: #7e53bf;
}

input[type="checkbox"] + label {
  color: #9185a3;
}

input[type="checkbox"]:checked + label {
  color: #51c0c4;
  font-weight: bold;
}
